:root {
    --custom-color: rgb(243, 187, 30);
}


/* header */
.header {
    height: 80px;
    background-color: rgb(21, 30, 40);
}

.navbar-nav>li>.dropdown-menu {
    background-color: rgb(21, 30, 40);
}


/* app-intro */
.app-intro {
    margin: 2rem 0;
    box-shadow: 1px 1px 5px #CECDD0;
    padding: 2rem;
    &:hover {
        background-color: #f5f5f5;
    }
}

.app-intro-img {
    width: 70px;
    height: 70px;
    border-radius: 14px;
    border: 1px solid #ccc;
    display: block;
}

.app-intro-content {
    margin-left: 1rem;
    .aritistname {
        max-width: 240px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}


.tab-pane {
    padding: 42px 38px 38px 38px;
}

/* appinfo */
.app-info-tabpanel {
    dt {
        margin-bottom: 1em;
        position: relative;
        &::after {
            content: '';
            background: url('../images/ico-triangle.png') no-repeat;
            background-size: 1em 1em;
            position: absolute;
            top: 2px;
            left: -2em;
            width: 1em;
            height: 1em;
        }
    }
    ul {
        margin-left: 1.4em;
        line-height: 2.4em;
        color: var(--custom-color);
        span {
            color: #333;
        }
    }
}

/* keywords */

.keywords-title {
    overflow: hidden;
    text-align: center;
    border: 1px solid #666;
    padding: 1em 0;
    border-bottom: none;
    h4 {font-weight: normal}
}

.keywords-table, .info-table {
    font-size: 14px;
    th {
        background-color: #eee;
    }
    th, td {
        text-align: center !important;
        border: 1px solid #666;
        padding: 1em 0;
    }
    img {
        height: 1em;
    }
}
