:root {
    --custom-color: rgb(243, 187, 30);
}

/* header */
.header {
    height: 80px;
    background-color: rgb(21, 30, 40);
}

.navbar-nav>li>.dropdown-menu {
    background-color: rgb(21, 30, 40);
}


/* title */

.title {
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(243, 187, 30);
    color: var(--custom-color);
    margin-top: 33px;

    h2 {
        font-size: 24px;
        display: inline-block;
        margin: 0;
    }
}


.title p {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}

/* word */
.word-table table th {
    text-align: center;
    background-color: #E8E6E6;
}


.app-no-result {
    font-size: 18px;
    color: #666;
    margin: 100px 0;
    text-align: center;
}

/* card */
.card {
    margin: 2rem 0;
    box-shadow: 1px 1px 5px #666;
    padding: 2rem;
    opacity: 0;
    &:hover {
        background-color: #f5f5f5;
    }
}

.card-img {
    width: 70px;
    height: 70px;
    border-radius: 14px;
    border: 1px solid #ccc;
    display: block;
}

.card-content {
    margin-left: 1rem;
}
