:root {
    --custom-color: rgb(243, 187, 30);
}

html, body {
    height: 100%;
}

.header {
    flex: 213px 0 0;
    background-image: url('../images/banner-login.png');
}

.line {
    height: 1px;
    background-color: #dddddd;
    margin: 30px auto;
}

.btn-custom {
    background-color: var(--custom-color);
    width: 100%;
    display: block;
    color: #fff;
    transition: all 0.3s;
    &:hover {
        color: #fff;
        background-color: color(var(--custom-color) lightness(+ 10%));
    }
}

.color-custom {
    color: var(--custom-color) !important;
}

.btn-border-custom {
    color: var(--custom-color);
    border: 1px solid var(--custom-color);
    padding: 5px 35px;
    transition: all 0.3s;
    &:hover {
        background-color: var(--custom-color);
        color: #fff;
    }
}
