<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>登录</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <!-- Core CSS -->
        <!-- <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %> -->
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]> <script src="js/html5shiv.js"></script> <script src="js/respond.min.js"></script> <![endif]-->
    </head>
    <body class="flex flex-direction-col">
        <div class="header">
            <img class="header-img-center" src="./images/logo-login.png" alt="" />
        </div>

        <div class="flex-1 container">
            <div class="row margin-top-50px">
                <div class="center-block" style="width: 320px">
                    <form id="signin" class="form-horizontal" action="/index.php/account/signinForm" method="post">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input id="username" value="" type="email" name="username" class="form-control" placeholder="邮箱">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input id="password" type="password" name="password" class="form-control" placeholder="密码">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <button id="submit" type="submit" class="btn btn-custom">登录
                                    <span class="btn-hover-icon mobile-hide"></span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" id="checkboxSuccess" value="option1" checked="checked">
                                    下次自动登录
                                  </label>
                                  <a href="./register.html" class="pull-right color-custom">忘记密码</a>
                                </div>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <a href="/index.php/account/signup" class="btn btn-block btn-border-custom">没有账号？立即免费注册
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
