<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>榜单</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <!-- Core CSS -->
        <!-- <% for (var css in htmlWebpackPlugin.files.css) { %>
        <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
        <% } %> -->
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]> <script src="js/html5shiv.js"></script> <script src="js/respond.min.js"></script> <![endif]-->
    </head>
    <body>
        <!-- Header -->
        <div id="header" class="header">
            <!-- 菜单栏 -->
            <nav class="navbar" id="navbar"></nav>
        </div>

        <div class="animation-slide-up">
            <div class="container">
                <div class="title">
                    <h2>中国总榜免费榜Top1500</h2>
                </div>

                <div class="app-kind margin-bottom-30px">
                    <div class="flex">
                        <div class="flex-1">
                            <label for="">设备</label>
                            <select name="" value="iPhone" class="selectpicker">
                                <option value="iPhone">iPhone</option>
                                <option value="iPad">iPad</option>
                            </select>
                        </div>
                        <div class="flex-1">
                            <label for="">榜单类型</label>
                            <select name="" value="免费" class="selectpicker">
                                <option value="免费">免费</option>
                                <option value="付费">付费</option>
                            </select>
                        </div>
                        <div class="flex-1">
                            <label for="">类别</label>
                            <select name="" value="总榜" class="selectpicker">
                                <option value="总榜">总榜</option>
                                <option value="总榜">总榜</option>
                            </select>
                        </div>
                    </div>
                </div>

                <ul class="card-list clearfix margin-bottom-50px">
                    <div class="card col-xs-2">
                        <div class="thumbnail">
                            <a href="" target="_blank">
                                <img src="http://a1.mzstatic.com/us/r30/Purple69/v4/67/02/54/67025412-3bd2-c804-ec22-1634947c1972/icon180x180.jpeg" alt="1.Faceu－激萌的特效相机，支持多人 (｡･ω･)ﾉﾞ">
                                <div class="caption">
                                    <h5>1.Faceu－激萌的特效相机，支持多人 (｡･ω･)ﾉﾞ</h5>
                                    <h6>erick kuo</h6>
                                    <h6>摄影与录像
                                        <span>1</span>名</h6>
                                    </div>
                            </div>
                            </a>
                    </div>

                </ul>
            </div>
            <div class="Liz-border-vertical opacity0" id="footer"></div>
        </div>

        <!--  card template -->
        <script id="app-template" type="text/x-handlebars-template">

            {{#each apps}}
            <li class="card flex transition">
                <img class="card-img" src={{artworkurl60}}/>
                <div class="flex-1 card-content">
                    <h4>{{inc @index}}、{{this.name}}</h4>
                    <p>
                        encent Technology (Shenzhen) Company Limited
                    </p>
                </div>
                <div class="card-button flex-align-self-center">
                    <a href="#" class="btn btn-primary">添加到我的应用</a>
                </div>
            </li>
        {{/each}}
    </script>

    <!-- word template -->
    <script id="word-template" type="text/x-handlebars-template"></script>
</body>
</html>
